@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Comfortaa', cursive;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

#main{
  width: 1280px;
  margin: auto;
}

header{border-bottom: 5px solid rgb(27, 192, 165);}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 20px;
}

#header h2{font-size: 2rem;}

#search_box{
  position: relative;
  width: auto;
}

#search_box input{
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  border-radius: 25px;
  outline: none;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border: 1px solid #DDDDDD;
}
 
input:focus{
  box-shadow: 0 0 5px rgb(25, 194, 180);
  border: 1px solid orange;
}

#search_box i{
  color: black;
  position: absolute;
  cursor: pointer;
  top: 25%;
  right: 4%;
  transition: 1s;
}

#search_box i:hover{color: orange;}

#grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.img{
  width: 380px;
  height: 214px;
  margin-top: 15px;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
}

@media(max-width:1280px){
 #main{width: 100%;}
}

@media(max-width:768px){
  #main{width: 95%;}

  .img{width: 100%;}

  #header{
    margin: 10px 0;
    padding: 20px;
    gap: 10px;
    justify-content: center;
  }

  #header h2{
    padding: 5px 0;
  }
}

@media(max-width:480px){
  .nav h2{
    text-align: center;
    font-size: 1.5rem;
  }

  .search-box{
    width: 80%;
    margin: auto;
  }
  .search-box input{
    font-size: .7rem;
  }
}
*{
  font-family: 'Roboto', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  line-height: 1.5;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
section{
  padding:1rem 5%;
  min-height: 100vh;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  padding:.8rem 3rem;
  background:var(--main-color);
  color:#fff;
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover{
  background:#111;
  letter-spacing: .2rem;
}

.home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
}
.home .image{
  flex:1 1 40rem;
}
.home .image img{
  width:100%;
}
.home .content{
  flex:1 1 40rem;
}
.home .content .hi{
  font-size: 2rem;
  color:var(--main-color);
}
.home .content h3{
  font-size: 4.5rem;
  color:#111;
  text-transform: uppercase;
}
.home .content h3 span{
  color:var(--main-color);
  text-transform: uppercase;
}

.home .content .info{
  font-size: 2.5rem;
  color:#111;
  padding:.5rem 0;
}
.home .content .text{
  font-size: 1.7rem;
  color:#666;
  padding:.5rem 0;
}
